/* color mod*/
:root{
    --blue:#3d4dff;
    --blue-20:#3d4dff40;
    --black:#0c0c0e;
    --span-color:#fff;
    --dark:#1a1d2e;
    --gray:#828b9e;
    --dark-blue:#22263e;
    --dark-blue2:#1b1e30;
    --text-color:#b2b9c9;
    --Purple:#7b3dff;
    --dodger-blue:#3284ff;
    --light-royal-blue:#4c2fff;
    
}